<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkOynMtN0BE9U3Je8_4A8fwttXjM0wyq8</string>
	<key>GCM_SENDER_ID</key>
	<string>565626886457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.markitantov.PizzaDelivery</string>
	<key>PROJECT_ID</key>
	<string>pizzadelivery-6976c</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzadelivery-6976c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565626886457:ios:ccc11aa2009a32c58bf0e8</string>
</dict>
</plist>